# App Settings (keep appsettings.json for deployment, secrets go in Development only)
appsettings.Development.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Publish profile secrets
*.pubxml.user

# Publish profiles
Properties/PublishProfiles/

# Service dependencies
Properties/ServiceDependencies/
Properties/serviceDependencies*.json

# Visual Studio
.vs/
*.csproj.user

# PDF styling
pdf-style.css

# setting
.env

# Exclude report materials and drafts
REPORT/